* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background-color: #eff3ffdf;
}

h1 {
  font-size: 4.5rem;
  text-align: center;
  font-weight: 900;
}


.container {
  max-width: 152rem;
  margin: auto;
  padding: 2rem;
}


.pokemon-search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
}

input[type="text"] {
  appearance: none;
  border: none;
  outline: none;
  width: 100%;
  max-width: 35rem;
  border-bottom: 0.2em solid #020d35;
  background: rgba(233, 30, 99, 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.8em;
  font-size: 1.6rem;
}


.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  justify-content: center;
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 900px) {
  h1 {
    font-size: 3.6rem;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .pokemon-card {
    width: 100%;
  }
}


@media (max-width: 600px) {
  html {
    font-size: 55%;
  }

  h1 {
    font-size: 3rem;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .pokemon-card {
    width: 100%;
    min-height: 38rem;
  }

  input[type="text"] {
    max-width: 90%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }

  .pokemon-card {
    padding: 1rem;
  }

  .pokemon-name {
    font-size: 2.6rem;
  }
}


.pokemon-card {
  width: 36rem;
  min-height: 42rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.6rem;
  position: relative;
  transition: 0.3s;
}

.pokemon-card:hover {
  transform: scale(1.03);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

figure {
  display: flex;
  justify-content: center;
}

.pokemon-image {
  width: 60%;
  height: 15rem;
}

.pokemon-name {
  font-size: 3.2rem;
  text-align: center;
  text-transform: capitalize;
  margin-top: 2rem;
}

.pokemon-highlight {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.pokemon-highlight p {
  padding: 0.6rem 2.4rem;
  background-color: #2ecc71;
  border-radius: 20rem;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
}

.grid-three-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  margin-top: 1.6rem;
}

.pokemon-info {
  background-color: #f4f6ff;
  border-radius: 0.8rem;
  padding: 1.2rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}

.pokemon-info span {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  color: #555;
  margin-bottom: 0.4rem;
}

.pokemon-info p {
  font-size: 1.8rem;
  font-weight: 700;
  color: #020d35;
  text-transform: capitalize;
}

.pokemon-card:hover .pokemon-info {
  background-color: #eef1ff;
  transition: 0.3s ease;
}
